<div *ngIf="this.authService.isAuthenticated()">
<div class="navbar-header navbar-right" >
		<a style="cursor: pointer; font-size:2rem; padding-right: 30%" (click)="onLogout()" >
			Logout
		</a>

</div>
<br>
<br>

<p> {{ todoListStatus }}</p>
<div class="input-group">
<input #todo type="text" class="form-control" name="AddTodo" (keydown)="onKeyPress($event)" placeholder="Add a new todo">
<span class="input-group-btn">
	<button class="btn btn-primary" (click)="onAddingTodo()">Add</button>
	<button class="btn btn-primary" (click)="onSave()">Save</button>
</span>

</div>




<ul class="list-group">
	<li *ngFor="let val of list" class="list-group-item">
			<div class="row">
				<div class="col-sm-8 col-xs-4" contenteditable="true" [ngStyle]="{border: none}">{{ val }}</div>
				<div class="col-sm-2 col-xs-4 glyphicon glyphicon-pencil" (click)="onEdit($event)"></div>
				<div class="col-sm-2 col-xs-4 glyphicon glyphicon-trash" (click)="onDelete($event)"></div>
			</div>
			
	</li>
</ul>
</div>


<div style="padding:5%" *ngIf="!this.authService.isAuthenticated()">
	<h3>Please login to view/add todos</h3>
     <br>
		<a routerLink="/signin" >
			<button class="btn btn-primary btn-lg">Login</button>
		</a>
		<a routerLink="/home" >
			<button style="margin:5%" class="btn btn-primary btn-lg">Home</button>
		</a>
</div><div>